.App {
  text-align: center;
}


.navbar{
  background-image: linear-gradient(to right, #6A11CB 0%, #2575FC 100%); 
}

.btn{
  background: #6A11CB;

}

.btn:hover{
background: white;
color: #6A11CB;
}
